$font-family-sans-serif: "InterVariable", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$grid-columns: 24;
$enable-negative-margins: true;
$enable-rounded: false;
$primary: rgb(90, 224, 41);
$polygon: #854ce6;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css';

@import './fonts';

$utilities: map-merge(
  $utilities,
  (
    "color": (
      property: color,
      class: text,
      values: map-merge(
        $utilities-text-colors,
        (
          "polygon": $polygon,
        )
      )
    ),
    "bg": (
      property: color,
      class: text,
      values: map-merge(
        $utilities-text-colors,
        (
          "polygon": $polygon,
        )
      )
    ),
    "text": (
      property: color,
      class: text,
      values: map-merge(
        $utilities-text-colors,
        (
          "polygon": $polygon,
        )
      )
    ),
  )
);

.color-polygon {
  color: $polygon;
}

.bg-polygon {
  background-color: $polygon;
}

.bg-particles {
  z-index: -1;
}

.slick-prev,
.slick-next {
  width: auto !important;
  height: auto !important;
}

.slick-prev {
  // left: 0 !important;
  z-index: 500;
}
// .slick-next {
//   // right: 0 !important;
// }

.slick-prev::before,
.slick-next::before {
  content: none !important;
  color: #000000 !important;
}

.card-primary {
  border: 0;
}

.search-outline-0 {
  top: 0;
  left: 0;
}
.search-outline-1 {
  top: -8px;
  left: -8px;
}
.search-outline-2 {
  top: 8px;
  right: -8px;
}

.tagline-0 {
  font-size: 0.85em;
}
.tagline-1 {
  letter-spacing: .5em;
  font-size: 0.65em;
}

.form-header {
  font-size: 1.2em;
}

@include media-breakpoint-up(md) {
  .tagline-0 {
    font-size: 1.1em;
  }
  .tagline-1 {
    letter-spacing: .5em;
    font-size: 0.85em;
  }

  .form-header {
    font-size: 1.24em;
  }

  .explainer {
    font-size: .8em;
  }
}

@include media-breakpoint-up(lg) {
  .form-header {
    font-size: 1.5em;
  }
  .explainer {
    font-size: .9em;
  }
}
